<!DOCTYPE html>
<html>
  <head>
     <script type="text/javascript">(function(){window['_surfly_settings']=window['_surfly_settings']||{
      widgetkey:"b84defc4621441ecae5eb10bdec1cb5a",
      cookie_transfer_enabled: true,
      cookie_transfer_proxying: false,
      };
      var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src="https://surfly.com/static/js/widget.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n); })();
    </script>
  </head>
  <body>
    <form id="user_name">
      /* the id is used to access the cookies */
      <p>Enter First Name</p>
      <p><input type = "text" name="user_name"/></p>
      <p>Enter Surname</p>
      <p><input type = "text" name = "user_surname"/></p>
      <p>Enter Card Number </p>
      <p><input type="text" name = "card" surfly_private/></p>
      <p>Enter your address</p>
      <p><input type="text" name = "address" surfly_private/></p>
      <p><input type="button" value='submit' onclick="saveForm()"/></p>
    </form>

    <script type="text/javascript">
       function saveForm() {
          document.getElementById("user_name").submit();
       }
       var get_name = document.getElementById("user_name");
       // we get the form and save it as a variable
       // this variable is then saved as a cookie
       document.cookie = 'userName:user_name';
      </script>
     <p> <a href="{{ url_for('save_form') }}"> Continue </a> </p>
  </body>
</html>

